################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ZDoorController/.vs
/ZDoorController/ZDoorController.Interface.App/bin
/ZDoorController/ZDoorController.Interface.App/obj
